.registerBox {
    max-width: 500px;
    border: 1px solid #212121cc;
    border-radius: 5px;
    padding: 30px;
}

.registerHeaderRow {
    min-height: 250px;
}

.loginRedirect-box {
    margin-top: 10px;
    max-width: 500px;
    border: 1px solid #212121cc;
    border-radius: 5px;
    padding: 15px;
}