.loginBox {
    max-width: 500px;
    border: 1px solid #212121cc;
    border-radius: 5px;
    padding: 30px;
}

.loginHeaderRow {
    min-height: 250px;
}

.registerRedirect-box {
    margin-top: 10px;
    max-width: 500px;
    border: 1px solid #212121cc;
    border-radius: 5px;
    padding: 15px;
}